[submodule "cloudspace_cookbooks/ubuntu"]
	path = cloudspace_cookbooks/ubuntu
	url = git://github.com/opscode-cookbooks/ubuntu.git
[submodule "cloudspace_cookbooks/build-essential"]
	path = cloudspace_cookbooks/build-essential
	url = git://github.com/opscode-cookbooks/build-essential.git
[submodule "cloudspace_cookbooks/apt"]
	path = cloudspace_cookbooks/apt
	url = git://github.com/opscode-cookbooks/apt.git
[submodule "cloudspace_cookbooks/openssl"]
	path = cloudspace_cookbooks/openssl
	url = git://github.com/opscode-cookbooks/openssl.git
[submodule "cloudspace_cookbooks/postgresql"]
	path = cloudspace_cookbooks/postgresql
	url = git://github.com/hw-cookbooks/postgresql.git
[submodule "cloudspace_cookbooks/postfix"]
	path = cloudspace_cookbooks/postfix
	url = git://github.com/opscode-cookbooks/postfix.git
[submodule "cloudspace_cookbooks/imagemagick"]
	path = cloudspace_cookbooks/imagemagick
	url = git://github.com/opscode-cookbooks/imagemagick.git
[submodule "cloudspace_cookbooks/nodejs"]
	path = cloudspace_cookbooks/nodejs
	url = git://github.com/mdxp/nodejs-cookbook.git
