<div ng-controller="UserCtrl">
  <h2>Sign up</h2>
  <form ng-submit="registration_submit()">
    <div style="margin:0;padding:0;display:inline">
      <input name="utf8" type="hidden" value="✓">

    <div><label for="user_email">Email</label><br>
    <input autofocus="autofocus" id="user_email" name="user[email]" type="email" value=""></div>

    <div><label for="user_password">Password</label><br>
      <input autocomplete="off" id="user_password" name="user[password]" type="password"></div>

    <div><label for="user_password_confirmation">Password confirmation</label><br>
      <input autocomplete="off" id="user_password_confirmation" name="user[password_confirmation]" type="password"></div>

    <div><input name="commit" type="submit" value="Sign up"></div>
  </form>
</div>
<%= render "devise/shared/links" %>