<div ng-controller="UserCtrl">
  <h2>Sign in</h2>

  <form ng-submit="sign_in_submit()">
    <div style="margin:0;padding:0;display:inline">
      <input name="utf8" type="hidden" value="✓">

    <div><label for="user_email">Email</label><br>
    <input autofocus="autofocus" id="user_email" name="user[email]" type="email" value=""></div>

    <div><label for="user_password">Password</label><br>
      <input autocomplete="off" id="user_password" name="user[password]" type="password"></div>

    <div><input name="commit" type="submit" value="Sign In"></div>
  </form>

  <%= render "devise/shared/links" %>

</div>
<script>
$(document).ready(function(){
	$("#new_user").bind("ajax:success", function(event, data, status, xhr){
	   console.log("here is the sign up return");
     console.log(data)
	}).bind("ajax:error", function(event, data, status, xhr){
	   console.log("error, here is the sign up error return");  
     console.log(data)
	});
});
</script>